#!/usr/bin/make -f
%:
	dh $@

# Add more debug flags
ifneq (,$(findstring debug,$(DEB_BUILD_OPTIONS)))
	DEB_CFLAGS_MAINT_APPEND += -ggdb
	DEB_CPPFLAGS_MAINT_APPEND += -DDEBUG
endif

DEB_CPPFLAGS_MAINT_APPEND +=
DEB_CFLAGS_MAINT_APPEND +=-Wno-error=unused-but-set-variable

export DEB_CFLAGS_MAINT_APPEND
export DEB_CPPFLAGS_MAINT_APPEND

DEB_INSTALL_DOCS_ALL=

override_dh_auto_configure:
	dh_auto_configure -- \
		--enable-gtk-doc
